<div class="hero">
    <nav>
        <h2 class="logo">Portfo<span>lio</span> </h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <a href="#" class="btn">Subscribe</a>
    </nav>
    <div class="content">
        <h4>Hello, my name is</h4>
        <h1>Enock <span>Razakamanana</span></h1>
        <h3>I am a Web Fullstack Javascript Developer.</h3>
        <div class="newsletter">
            <form action="">
                <input type="email" name="email" id="email">
                <input type="submit" name="submit" value="let's start">
            </form>
        </div>
    </div>
</div>
<section class="about">
    <div class="main">
        <img src="/assets/images/photoface.jpg">
        <div class="about-text">
            <h2>About Me</h2>
            <h5>Developer <span>Fullstack Javasript</span></h5>
            <p>I am a Fullstack Javascript Web Developer. I can provide clean code and an api server on production. I also make the website more and more fast fetching data from an API builded on server. I alos make the website more and more fast and low
                memory spent from server A responsive design makes your website accessible to all users, regardless of their device.
            </p>
            <button type="button">Let's Talk</button>
        </div>
    </div>
</section>

<!-- service section start -->
<div class="service">
    <div class="title">
        <h2>Our Services</h2>
    </div>

    <div class="box" style="display: flex;">
        <div class="card">
            <i class="ias a-bars"></i>
            <h5>Web Developement</h5>
            <div class="pra">
                <p>Every website should be built with two primary goals: Firstly, it needs to work accross all devices. Secondly, it needs to be fast as possible.</p>
                <p style="text-align: center">
                    <a class="button" href="">Read More</a></p>
            </div>
        </div>
        <div class="card">
            <i class="ias a-user"></i>
            <h5>Web Developement</h5>
            <div class="pra">
                <p>Every website should be built with two primary goals: Firstly, it needs to work accross all devices. Secondly, it needs to be fast as possible.</p>
                <p style="text-align: center">
                    <a class="button" href="">Read More</a></p>
            </div>
        </div>
        <div class="card">
            <i class="ias a-bell"></i>
            <h5>Web Developement</h5>
            <div class="pra">
                <p>Every website should be built with two primary goals: Firstly, it needs to work accross all devices. Secondly, it needs to be fast as possible.</p>
                <p style="text-align: center">
                    <a class="button" href="">Read More</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Contact Me -->
<div class="contact-me">
    <p>Le me get you a greatter website.</p>
    <a class="button-two" href="">Hire Me</a>
</div>

<!-- Footer start -->
<footer>
    <p>Enock Razakamanana</p>
    <p>For more HTML, CSS and Javascript content - please click on the link below to subscribe to my channel:</p>
    <div class="social">
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-dribble"></i></a>
    </div>
    <p class="end">CopyRight By Enock Razakamanana</p>
</footer>
